.clientForm {
  margin-top: 20px;
  position: relative;
  padding-bottom: 40px;
  border-bottom: 1px solid #bbb;
  font-family: 'robotoregular', sans-serif;

  &__field {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px;
    width: 60%;

    &:nth-child(2) {
      width: 40%;
    }

    label {
      display: block;
      color: #919191;
      font-size: 14px;
      margin-bottom: 5px;
    }

    input {
      border: 1px solid #bbb;
      box-sizing: border-box;
      border-radius: 15px;
      padding: 0 10px;
      font-size: 14px;
      display: block;
      outline: none;
      height: 30px;
      color: #333;
      width: 100%;
    }
  }

  button {
    cursor: pointer;
    outline: none;
    border: none;
  }

  &__saveButton {
    background-color: crimson;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 14px;
    padding: 0 15px;
    height: 30px;
    color: #fff;
  }

  &__rollupButton {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;

    &_right {
      right: 0;
      left: initial;
    }
  }
}
