.clients {
  overflow: auto;
  margin: 0 auto;
  width: 1000px;
  padding: 10px;

  &__title {
    font: 20px 'robotoregular', sans-serif;
    margin: 0;
  }

  &__button {
    background: transparent;
    margin-top: 15px;
    cursor: pointer;
    outline: none;
    border: none;
  }

  &__icon {
    margin-right: 7px;
  }
}
