.clientsTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  font: 14px 'robotoregular', sans-serif;

  &__head {
    color: #919191;
    border-bottom: 2px solid rgba(196, 26, 50, 0.57);

    th {
      max-width: 80px;
      font-weight: 300;
      padding-bottom: 15px;
      vertical-align: bottom;
    }
  }

  &__body {
    color: #333;

    tr {
      line-height: 10px;
    }

    td {
      text-align: center;
      padding: 10px 5px;
    }
  }

  &__button {
    background: transparent;
    cursor: pointer;
    margin: 0 5px;
    outline: none;
    border: none;
  }
}
