@import "~normalize.css";

#root {
  min-height: 100vh;
  background-color: #e7e7e7;
}

@font-face {
  font-family: 'robotoregular';
  src:
    url('./resources/roboto-regular.woff2') format('woff2'),
    url('./resources/roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
